<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
        <title>اكشف اونلاين الان من خلال موقعنا فريق عمل الكينج مريوط</title>
        <link type="image/x-icon" href="/img/favicon.png" rel="icon" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css" />
        <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="main-wrapper">
            <%- include("components/header") %>
            <div class="breadcrumb-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-12 col-12">
                            <nav aria-label="breadcrumb" class="page-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">الرئيسيه</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">المدونه</li>
                                </ol>
                            </nav>
                            <h2 class="breadcrumb-title">المدونه</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <% for(let blog of blogs) { %>
                            <div class="blog">
                                <div class="blog-image">
                                    <a href="blog-details/<%= blog._id %>"><img class="img-fluid" src="/<%= blog.img %>" alt="Post Image" /></a>
                                </div>
                                <h3 class="blog-title"><a href="blog-details/<%= blog._id %>"><%= blog.title%></a></h3>
                                <div class="blog-info clearfix">
                                    <div class="post-left">
                                        <ul>
                                            <li>
                                                <div class="post-author">
                                                    <a href="doctor-profile.html"><img src="/img/doctors/doctor-thumb-01.jpg" alt="Post Author" /> <span>د. محمد سامي</span></a>
                                                </div>
                                            </li>
                                            <li><i class="far fa-clock"></i><%= blog.date %></li>
                                            <li><i class="far fa-comments"></i>12 تعليق</li>
                                            <li><i class="fa fa-tags"></i><%= blog.category %></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <p><%= blog.description.long %></p>
                                    <a href="blog-details/<%= blog._id %>" class="read-more">اقراء المزيد</a>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
                            <div class="card search-widget">
                                <div class="card-body">
                                    <form class="search-form">
                                        <div class="input-group">
                                            <input type="text" placeholder="بحث..." class="form-control" />
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card post-widget">
                                <div class="card-header">
                                    <h4 class="card-title">اخر المنشورات</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="latest-posts">
                                        <% for(let blog of latestBlogs) { %>
                                        <li>
                                            <div class="post-thumb">
                                                <a href="/blog-details/<%= blog._id %>">
                                                    <img class="img-fluid" src="/<%= blog.img %>" alt="" />
                                                </a>
                                            </div>
                                            <div class="post-info">
                                                <h4>
                                                    <a href="/blog-details/<%= blog._id %>"><%= blog.title %></a>
                                                </h4>
                                                <p><%= blog.date %></p>
                                            </div>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>

                            <div class="card category-widget">
                                <div class="card-header">
                                    <h4 class="card-title">فئات المدونة</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="categories">
                                        <li>
                                            <a href="#">نصايح صحيه <span>(62)</span></a>
                                        </li>
                                        <li>
                                            <a href="#">طب القلب <span>(27)</span></a>
                                        </li>
                                        <li>
                                            <a href="#">رعاية صحية <span>(41)</span></a>
                                        </li>
                                        <li>
                                            <a href="#">استشاره طبيه <span>(16)</span></a>
                                        </li>
                                        <li>
                                            <a href="#">وقايه طبيه <span>(55)</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('components/footer')%>
        </div>

        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
        <script src="/js/slick.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
